/* Plot Visualizations Style Sheet */
/* Navigation bar */
.navbar {
    background-color: white;
}

/* Navigation Brand*/
.navbar-brand {
    background-color: teal;
    font-size: x-large;
    font-weight: 700;
    padding:1%;
}

/* Navigation Brand Text */
.navbar-default .navbar-brand {
    color:white;
}

/* Navigation Brand Text */
.navbar-brand::selection {
    color:white;
}

/* Page Body*/
body {
    background-color: lightgray;
}

/* Space break between Navigation Bar and Summary/Visualization Sections */
.container {
    margin-top:30px;
}

/* Summary and Visualization Sections*/
section {
    background-color:white;
    padding:5%
}

/* Header styling */
h1, h2 {
    color: teal;
}

/* Image fit effect*/
.img-fluid {
   max-width:100%;
   height:auto;
}

/* Visualization section image borders */
#figure_1:hover, #figure_2:hover, #figure_3:hover, #figure_4:hover { 
    border: 3px solid teal; 
  } 


/* Reactive Styling For Screens Under 793px */
@media (max-width: 990px) {
    
    /* Changes the navbar color */
    .navbar {
        background-color: teal;
    }

    body {
        background-color: white;
    }

}
    